{% extends 'base.html.twig' %}

{% block body %}
    <h1>Diseasesymptoms list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diseaseSymptom in diseaseSymptoms %}
            <tr>
                <td><a href="{{ path('diseasesymptoms_show', { 'id': diseaseSymptom.id }) }}">{{ diseaseSymptom.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('diseasesymptoms_show', { 'id': diseaseSymptom.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('diseasesymptoms_edit', { 'id': diseaseSymptom.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('diseasesymptoms_new') }}">Create a new diseaseSymptom</a>
        </li>
    </ul>
{% endblock %}
